{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <title>Tambah Keluhan</title>
{% endblock meta %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/support.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<div class="content">
    <h1>Silakan Isi Formulir berikut</h1>
    <h5 style="margin-bottom: 40px;">FORMULIR KELUHAN</h5>
    <div class="content-wrapper">
    <form action="" method="POST">
        {% csrf_token %}
            <form>
            <label for="Negara_yang_dituju">Negara yang dituju: </label>
            <select id="Negara_yang_dituju" name="Negara_yang_dituju">
                <option value="">Pilih Negara</option>
            </select>
            <br />

            <label for="Lokasi_kejadian">Lokasi spesifik:</label>
            <input id="Lokasi_kejadian" type="text" name="Lokasi_kejadian" maxlength="1024" required> <br />

            <label for="Kejadian_secara_umum">Kejadian secara umum:</label>
            <input id="Kejadian_secara_umum" type="text" name="Kejadian_secara_umum" maxlength="1024" required><br />

            <label for="keluhan">Keluhan :</label>
            <textarea id="keluhan" name="keluhan" ></textarea><br />

            <label for="saran">Saran :</label>
            <textarea id="saran" name="saran" ></textarea><br />

            <input type="submit" value="Submit">
            </form>
    </form>
    </div>

    <br>
    <div class="action">
        <div class="support-content-wrapper">
            <a href="/support-page/support_list/">
                <div class="support-content">
                <button type="button" class="btn btn-secondary">Lihat Keluhanmu</button>
                </div>
            </a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'support.js' %}"></script>

</div>
{% endblock content %}