{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <title>Support Page</title>
{% endblock meta %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/support.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<div class="indexcontent">
    <div class="indexcontent-wrapper">
        <h1 class="display-5 fw-normal text-center">Ada Keluhan?</h1>
        <p class="fs-5 text-muted text-center">
            Wadah penyaluran keluhan terkait keselewenangan protokol COVID-19 yang kamu temui.
        </p>
        <br>
        <h6 style="margin-top: 10px;">Klik tombol dibawah ini untuk melaporkan keluhanmu!<h6>

        {% if user.is_authenticated %}
        <form action=" " method="POST" style="margin-top: 20px;" >
            <div class="support-content-wrapper">
                <a href="/support-page/add_support/">
                    <div class="support-content">
                    <button type="button" class="btn btn-primary">Isi Form</button>
                    </div>
                </a>
                <br>
                <a href="/support-page/support_list/">
                    <div class="support-content">
                    <button type="button" class="btn btn-secondary">Lihat List Keluhan</button>
                    </div>
                </a>
            </div>
        </form>

        {% else %}
        <div class="alert alert-primary d-flex align-items-center" role="alert" style="margin-bottom: 20px;">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
            viewBox="0 0 16 16"
            role="img"
            aria-label="Warning:"
        >
            <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
            />
        </svg>

        <div>Login terlebih dahulu</div>
        </div>
        <form action=" " method="POST">
        <fieldset disabled>
            <div class="row justify-content-center">
            <div
                class="col-5 ps-0 pe-1"
                data-bs-toggle="popover"
                data-bs-trigger="hover focus"
                data-bs-placement="bottom"
                data-bs-content="Login terlebih dahulu"
            >
            </div>
            <div class="col-50 px-50 pe-50">
                <button type="submit" class="btn btn-secondary" id="addButton" style="margin-top: 20px;" >
                  Isi Formulir Keluhan
                </button>
              </div>
  
        </fieldset>
        </form>
        {% endif %}
  </div>
    
</div>
{% endblock content %}
