<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body fs-2">Hapus negara?</div>
      <div class="modal-footer p-1">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Batal
        </button>
        <a
          class="btn btn-danger"
          href="{% url 'delete-country' country.id %}"
          role="button"
          >Hapus</a
        >
      </div>
    </div>
  </div>
</div>
