/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

.judul  {
    padding-top: 200px;
    padding-left: 200px;
}

.homedua {
    padding-top: 150px;
    text-align: center;
}

