{% extends 'base.html' %}

{% load static %}
{% block meta %}
  <title>Tambah Artikel</title>
{% endblock meta %} 
{% block content %}
{% load static %}
    <div class="container py-2">
      <form id="form-article" action="" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <h3 class="mt-5 text-center">Tulis Artikel</h3>
        <br>
        <div class="ms-3 col-11,5 me-3">
          <label class="form-label">Judul</label>
          <input type="text" class="form-control" name="judul" placeholder="Tulis Judul Di Sini">
        </div>
        <br>
        <div class="ms-3 col-11,5 me-3">
          <label class="form-label">Gambar</label>
          <input class="form-control" type="text" name="gambar" placeholder="URL Gambar">
          <small class="form-text text-muted">Harap memasukkan URL dengan format .jpg atau .png</small>
        </div>
        <br>
        <div class="ms-3 col-11,5 me-3">
          <label for="ArticleText" class="form-label">Deskripsi</label>
          <textarea class="form-control overflow-auto" id="ArticleText" name="deskripsi" placeholder="Tulis Deskripsi Di Sini" rows="2"></textarea>
        </div>
        <br>
        <div class="ms-3 col-11,5 me-3">
          <label for="ArticleText" class="form-label">Isi</label>
          <textarea class="form-control overflow-auto" id="ArticleText" name="isi" placeholder="Tulis Artikel Di Sini" rows="10"></textarea>
        </div>
        <br>
        <a type="button" href="./" class="btn btn-primary text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
        </svg>
          Kembali
        </a>
        <button type="submit" class="position-absolute bottom-25 start-50 translate-middle-x ms-3 btn btn-primary">Submit</button>
      </form>
    </div>
{% endblock content %}