{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Get Swabbed!</title>
{% endblock meta %}

{% block content %}
    <div class="container py-3">
        <header>    
            <div class="get-swabbed-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-5 fw-normal">Get Swabbed!</h1>
                <p class="fs-5 text-muted">Banyak negara mengharuskan pendatang internasional melakukan tes Swab Covid-19 ketika mereka tiba di negara tersebut. 
                    Anda dapat melihat fasilitas penyedia tes Swab Covid-19 di negara tujuan dengan memanfaatkan fitur Get Swabbed! ini.
                    <br> <br> Informasi lainnya mengenai regulasi di negara tujuan dapat dibaca di <a href="/regulasi">regulasi</a>.</p>
            </div>
        </header>

        <div>
          {% if user.is_authenticated %} 
            <!--Make sure the form has the autocomplete function switched off:-->
            <form id="countryForm" method="POST" class="form-inline" autocomplete="off" action="/action_page.php">
            {% csrf_token %}
            <div class="autocomplete" style="text-align: center;">
            <p>Pilih negara tujuan berikut: Malaysia | Singapore | Thailand</p>
                <input id="myInput" type="text" name="myCountry" placeholder="Negara Tujuan">
                <input type="submit" class="btn btn-secondary" value="Pilih" />
            </div>
            </form>
            <body>
              <div class="container py-3" id="countriesTable">
                <table id="list_swab" class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Negara</th>
                      <th scope="col">Nama Fasilitas</th>
                      <th scope="col">Alamat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Malaysia</td>
                      <td><a href="http://www.malaysiaairports.com.my/media-centre/news/new-private-covid-19-screening-facility-klia-now-open">BP Clinical Lab</a></td>
                      <td>Kuala Lumpur International Airport, Sepang Selangor Darul Ehsan, Malaysia</td>
                    </tr>
                    <tr>    
                      <td>Malaysia</td>
                      <td><a href="https://klinik-sairamserikembangan.business.site/">Klinik Sairam Seri Kembangan</a></td>
                      <td>No. 39 G, Jalan Atmosphere 1, Pusat Perniagaan The Atmosphere, 43300 Seri Kembangan, Selangor, Malaysia</td>
                    </tr>
                    <tr>    
                      <td>Malaysia</td>
                      <td><a href="https://klihc.com.my/covid-19/">Kuala Lumpur International Health Care Centre</a></td>
                      <td>500-1-6, Wisma Indah, Jln Tun Razak, 55100 Kuala Lumpur, Malaysia</td>
                    </tr>
                    <tr>    
                      <td>Malaysia</td>
                      <td><a href="https://www.pantai.com.my/klang/drive-thru-service-covid-19-test">Pantai Hospital Klang</a></td>
                      <td>Lot 5921, Persiaran Raja Muda Musa, Taman Radzi, 41200 Klang, Selangor, Malaysia</td>
                    </tr>
                    <tr>    
                      <td>Malaysia</td>
                      <td><a href="https://www.dtapclinic.com/rapid-covid-19-antigen-testing/">Dr. Tan and Partners</a></td>
                      <td>25-1, Jalan PJU 1/3f, Sunway Mas Commercial Center, 47301 Petaling Jaya, Selangor, Malaysia</td>
                    </tr>
                    <tr>
                      <td>Singapore</td>
                      <td><a href="https://safetravel.changiairport.com/arrivalswabtest/en.html#/">Safe Travel</a></td>
                      <td>Changi Airport, Airport Blvd., Singapore</td>
                    </tr>
                    <tr>
                      <td>Singapore</td>
                      <td><a href="https://www.rafflesmedicalgroup.com/clinic/raffles-medical-tampines-one/">Raffles Medical Center</a></td>
                      <td>10 Tampines Central 1, #03-28, Singapore 529536</td>
                    </tr>
                    <tr>    
                      <td>Singapore</td>
                      <td><a href="https://www.parkwayshenton.com/covid-19/pre-departure-test">Parkway Shenton Medical Group</a></td>
                      <td>18 Toh Yi Dr, #01-103, Block 18, Singapore 590018</td>
                    </tr>
                    <tr>    
                      <td>Singapore</td>
                      <td><a href="https://clinic.platomedical.com/book/bWlubWVk/c58a16836ace40cfa64475408343f5d4/4OymQwS">Minmed Clinic (Pasir Ris)</a></td>
                      <td>1 Pasir Ris Central Street 3 #05-09 White Sands, Singapore 518457</td>
                    </tr>
                    <tr>    
                      <td>Singapore</td>
                      <td><a href="https://atamed.sg/book-covid-19-pre-departure-test?gclid=CjwKCAjwiY6MBhBqEiwARFSCPvv_8_mIQCkG4Mktq59HOzotmVE5ONLioBYbkZnaj4SDTp7rk4g_ShoCxKcQAvD_BwE">Ata Medical</a></td>
                      <td>Anson House, 72 Anson Rd #01-02, Singapore 079911</td>
                    </tr>
                    <tr>
                      <td>Thailand</td>
                      <td><a href="https://www.praram9.com/en/covid-19-testing-for-foreigners/">Praram 9 Hospital</a></td>
                      <td>99 Rama IX Rd, Bang Kapi, Huai Khwang, Bangkok 10310, Thailand</td>
                    </tr>
                    <tr>    
                      <td>Thailand</td>
                      <td><a href="https://www.bangkokhospital.com/en/package/covid-19-testing-package">Bangkok Hospital</a></td>
                      <td>2 Soi Phetchaburi 47 Yaek 10, Bang Kapi, Huai Khwang, Bangkok 10310, Thailand</td>
                    </tr>
                    <tr>    
                      <td>Thailand</td>
                      <td><a href="https://www.medconsultasia.com/covidtesting">MedConsult Clinic</a></td>
                      <td>Floor 3, Building 2 of The Racquet Club, Sukhumvit 49/9 Alley, Khlong Tan Nuea, Watthana, Bangkok 10110, Thailand</td>
                    </tr>
                    <tr>    
                      <td>Thailand</td>
                      <td><a href="https://medex.co.th/service/covid-test/">MedEx Thailand</a></td>
                      <td>Sukhumvit 48, Phra Khanong Center (Near BTS Phra Khanong)</td>
                    </tr>
                    <tr>    
                      <td>Thailand</td>
                      <td><a href="https://www.thaitravelclinic.com/FrontNews/covid19-med-certificate-en-2.html">Thai Travel Clinic</a></td>
                      <td>Ratchawithi Rd, Thung Phaya Thai, Ratchathewi, Bangkok 10400, Thailand</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </body>
        </div>

        {% else %}
        <div class="alert alert-primary d-flex align-items-center" role="alert" style="border: 5px; margin: 45px;">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
            viewBox="0 0 16 16"
            role="img"
            aria-label="Warning:"
          >
            <path
              d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
            />
          </svg>
          <div>Login terlebih dahulu</div>
        </div>
        <form action=" " method="POST">
          <fieldset disabled>
            <div class="row justify-content-center">
              <div
                class="col-8 ps-0 pe-1"
                style="text-align: center;"
                data-bs-toggle="popover"
                data-bs-trigger="hover focus"
                data-bs-placement="bottom"
                data-bs-content="Login terlebih dahulu"
              >
                <p>Cari hotel karantina di negara berikut: Singapore | Malaysia | Thailand</p>
                <div class="autocomplete" style="text-align: center;">
                    {% csrf_token %}
                    <input id="myInput" type="text" name="myCountry" placeholder="Negara Tujuan">
                    <input type="submit" class="btn btn-secondary" value="Pilih" />
                </div>
            </div>
          </fieldset>
        </form>
      {% endif %}

    <script>
        function autocomplete(inp, arr) {
          /*the autocomplete function takes two arguments,
          the text field element and an array of possible autocompleted values:*/
          var currentFocus;
          /*execute a function when someone writes in the text field:*/
          inp.addEventListener("input", function(e) {
              var a, b, i, val = this.value;
              /*close any already open lists of autocompleted values*/
              closeAllLists();
              if (!val) { return false;}
              currentFocus = -1;
              /*create a DIV element that will contain the items (values):*/
              a = document.createElement("DIV");
              a.setAttribute("id", this.id + "autocomplete-list");
              a.setAttribute("class", "autocomplete-items");
              /*append the DIV element as a child of the autocomplete container:*/
              this.parentNode.appendChild(a);
              /*for each item in the array...*/
              for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                  /*create a DIV element for each matching element:*/
                  b = document.createElement("DIV");
                  /*make the matching letters bold:*/
                  b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                  b.innerHTML += arr[i].substr(val.length);
                  /*insert a input field that will hold the current array item's value:*/
                  b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                  /*execute a function when someone clicks on the item value (DIV element):*/
                  b.addEventListener("click", function(e) {
                      /*insert the value for the autocomplete text field:*/
                      inp.value = this.getElementsByTagName("input")[0].value;
                      /*close the list of autocompleted values,
                      (or any other open lists of autocompleted values:*/
                      closeAllLists();
                  });
                  a.appendChild(b);
                }
              }
          });
          /*execute a function presses a key on the keyboard:*/
          inp.addEventListener("keydown", function(e) {
              var x = document.getElementById(this.id + "autocomplete-list");
              if (x) x = x.getElementsByTagName("div");
              if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                  /*and simulate a click on the "active" item:*/
                  if (x) x[currentFocus].click();
                }
              }
          });
          function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
          }
          function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
              x[i].classList.remove("autocomplete-active");
            }
          }
          function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
              if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
              }
            }
          }
          /*execute a function when someone clicks in the document:*/
          document.addEventListener("click", function (e) {
              closeAllLists(e.target);
          });
        }
        
        /*An array containing all the country names in the world:*/
        var countries = ["Singapore", "Malaysia", "Thailand"];
        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
        autocomplete(document.getElementById("myInput"), countries);
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/get_swabbed.js' %}"></script>

{% endblock content %}

<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_autocomplete -->