{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Get Swabbed Singapore!</title>
{% endblock meta %}

{% block content %}
    <div class="container py-3" id="countriesTable">
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            tr:nth-child(even) {
              background-color: #dddddd;
            }
        </style>
        <header>
            <div class="get-swabbed-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-5 fw-normal">Get Swabbed Singapore!</h1>
                <p class="fs-5 text-muted">Berikut merupakan daftar lokasi tes Swab di Singapore.
                    Anda dapat langsung melakukan pemesanan jadwal tes Swab dengan mengunjungi situs yang tertera di bawah ini.
                </p>
            </div>
        </header>
        <body>
            <table>
                <tr>
                    <th>Nama Fasilitas</th>
                    <th>Alamat</th>
                <tr>
                    <td><a href="https://safetravel.changiairport.com/arrivalswabtest/en.html#/">Safe Travel</a></td>
                    <td>Changi Airport, Airport Blvd., Singapore</td>
                    <td><a href="https://www.rafflesmedicalgroup.com/raffles-connect/covid-19-swab-test/">Raffles Medical Center</a></td>
                    <td>10 Tampines Central 1, #03-28, Singapore 529536</td>
                    <td><a href="https://www.parkwayshenton.com/covid-19/pre-departure-test">Parkway Shenton Medical Group</a></td>
                    <td>18 Toh Yi Dr, #01-103, Block 18, Singapore 590018</td>
                    <td><a href="https://atamed.sg/book-covid-19-pre-departure-test?gclid=CjwKCAjwiY6MBhBqEiwARFSCPvv_8_mIQCkG4Mktq59HOzotmVE5ONLioBYbkZnaj4SDTp7rk4g_ShoCxKcQAvD_BwE">Ata Medical</a></td>
                    <td>Anson House, 72 Anson Rd #01-02, Singapore 079911</td>
                </tr>
            </table>
        </body>
    </div>
{% endblock content %}