<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Malaysia
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div style="color: steelblue; font-weight: 900; font-size: x-large;">
                Sebelum berangkat ke Malaysia
            </div>
            Semua wisatawan diwajibkan mengunduh, mengaktifkan, dan mendaftar aplikasi MySejahtera sebelum memasuki Malaysia.
            <br> Tes RT-PCR sampel harus diambil dalam 3x24 jam sebelum keberangkatan.
            <br>
            <br>
            <div style="color: steelblue; font-weight: 900; font-size: x-large;">
                Saat tiba di Malaysia
            </div>
            Perintah karantina (HSO) akan diberikan selama 14 hari dan wisatawan juga akan diberikan gelang khusus.
            <br> Wisatawan akan diizinkan untuk dikarantina di rumah mereka sendiri atau akomodasi hotel.
            <br> Kegagalan untuk mematuhi peraturan ini, pelaku akan dikenakan dua (2) tahun penjara atau sanksi denda.
            <br>
            <br>
            <div style="color: steelblue; font-weight: 900; font-size: x-large;">
                Saat berada di Malaysia
            </div>
            <strong>Lakukan protokol kesehatan berikut ini:</strong>
            <br> - Selalu gunakan masker di area umum
            <br> - Menjaga jarak setidaknya satu meter sepanjang waktu.
            <br> - Cuci tangan secara rutin memakai sabun
        </div>
    </div>
</div>