{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Info Regulasi</title>
{% endblock meta %}

{% block content %}
    <div class="container py-3">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-5 fw-normal">Info Regulasi</h1>
                <p class="fs-5 text-muted">Cari tahu mengenai info regulasi negara destinasimu disini!</p>
            </div>
        </header>
    </div>
    <head>
        <style>
            .accordion {
                margin-left: 15px;
                margin-right: 15px;
            }
        </style>
    </head>
    <body>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Malaysia
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div style="color: steelblue; font-weight: 900; font-size: x-large;">
                            Sebelum berangkat ke Malaysia
                        </div>
                        Semua wisatawan diwajibkan mengunduh, mengaktifkan, dan mendaftar aplikasi MySejahtera sebelum memasuki Malaysia.
                        <br> Tes RT-PCR sampel harus diambil dalam 3x24 jam sebelum keberangkatan.
                        <br>
                        <br>
                        <div style="color: steelblue; font-weight: 900; font-size: x-large;">
                            Saat tiba di Malaysia
                        </div>
                        Perintah karantina (HSO) akan diberikan selama 14 hari dan wisatawan juga akan diberikan gelang khusus.
                        <br> Wisatawan akan diizinkan untuk dikarantina di rumah mereka sendiri atau akomodasi hotel.
                        <br> Kegagalan untuk mematuhi peraturan ini, pelaku akan dikenakan dua (2) tahun penjara atau sanksi denda.
                        <br>
                        <br>
                        <div style="color: steelblue; font-weight: 900; font-size: x-large;">
                            Saat berada di Malaysia
                        </div>
                        <strong>Lakukan protokol kesehatan berikut ini:</strong>
                        <br> - Selalu gunakan masker di area umum
                        <br> - Menjaga jarak setidaknya satu meter sepanjang waktu.
                        <br> - Cuci tangan secara rutin memakai sabun
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Singapura
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div style="color: steelblue; font-weight: 900; font-size: x-large;">
                            Sebelum berangkat ke Singapura
                        </div>
                        <br> <strong>Beberapa pilihan pengaturan perjalanan:</strong>
                        <br> - Air Travel Pass (ATP)
                        <br> - Connect@Singapore (Connect@SG)
                        <br> - Reciprocal Green Lane (RGL/Kunjungan Dinas dan Usaha)
                        <br> - Vaccinated Travel Lane (VTL)
                        <br>
                        <br> <strong>Lakukan pemeriksaan pra-keberangkatan</strong>
                        <br> Tiga hari sebelum keberangkatan, Anda wajib untuk:
                        <br> - mendaftar dan membayar Tes Reaksi Berantai Polimerase (Polymerase Chain Reaction [PCR]) COVID-19
                        <br> - mengirimkan semua pernyataan kesehatan dan perjalanan pada SG Arrival Card melalui aplikasi Visit Singapore Travel Guide atau layanan digital SG Arrival Card (Kartu Kedatangan SG/SGAC)
                        <br> - mengunduh aplikasi TraceTogether dan daftarkan profil Anda
                        <br> - Wisatawan yang menggunakan Air Travel Pass maupun Reciprocal Green Lane untuk memasuki Singapura, diwajibkan untuk memesan penginapan di akomodasi yang telah disetujui pihak berwenang dan melakukan isolasi mandiri dengan waktu paling lama 48 jam sambil menunggu hasil Tes PCR COVID-19 saat kedatangan.
                        <br> - Pemegang Vaccinated Travel Lane pass diwajibkan untuk melakukan isolasi mandiri maksimal 24 jam di akomodasi residensial yang telah dinyatakan sebelumnya maupun akomodasi non-residensial yang memenuhi persyaratan, sambil menunggu hasil Tes PCR COVID-19 saat kedatangan.
                        <br> - Efektif sejak 29 Mei 2021 pukul 23:59, pengunjung wajib dan diharuskan menunjukkan hasil negatif dari tes PCR, terkecuali bagi mereka yang berasal dari negara/wilayah dengan risiko rendah terhitung dalam 21 hari terakhir sebelum memasuki Singapura.
                        <br>
                        <br> <strong>Memastikan Perlindungan Asuransi Perjalanan</strong>
                        <br> Wisatawan yang menggunakan Air Travel Pass,  Reciprocal Green Lane dan Vaccinated Travel Lane harus memiliki perlindungan asuransi perjalanan sebelum bepergian ke Singapura.
                        <br>
                        <br>
                        <div style="color: steelblue; font-weight: 900; font-size: x-large;">
                            Saat tiba di Singapura
                        </div>
                        <br> <strong>Tunjukkan dokumen kedatangan Anda</strong>
                        <br> Saat memasuki Singapura, Anda harus menunjukkan:
                        <br> - surat persetujuan untuk salah satu Safe Travel Lanes
                        <br> - visa yang valid (jika diperlukan)
                        <br> - perangkat mobile dengan aplikasi TraceTogether yang telah diunduh dan profil telah didaftarkan
                        <br> - Wisatawan yang menggunakan Air Travel Pass, Reciprocal Green Lane dan Vaccinated Travel Lane diwajibkan untuk menunjukkan salinan elektronik atau fisik polis asuransi yang berlaku.
                        <br> - Wisatawan dengan jalur Connect@Singapore dan Reciprocal Green Lane harus memperlihatkan hasil tes COVID-19 negatif yang dilakukan dalam waktu 72 jam sebelum keberangkatan. Wisatawan dengan jalur Vaccinated Travel Lane diwajibkan untuk memperlihatkan hasil tes COVID-19 negatif yang dilakukan dalam waktu 48 jam sebelum keberangkatan.
                        <br> - Wisatawan dengan jalur Reciprocal Green Lane juga harus memperlihatkan rencana perjalanan 14 hari dan bukti keberangkatan dari Singapura.
                        <br> 
                        <br> <strong>Menjalankan Tes PCR Covid-19</strong>
                        <br> Semua wisatawan yang berkunjung dalam jangka waktu singkat harus menjalani Tes PCR COVID-19 saat kedatangan.
                        <br> 
                        <br> <strong>Tetap aman dengan pelacakan kontak</strong>
                        <br> Unduh aplikasi TraceTogether dan terus nyalakan aplikasi tersebut selagi Anda berada di Singapura untuk memfasilitasi pelacakan kontak.
                        <br>
                        <br>
                        <div style="color: steelblue; font-weight: 900; font-size: x-large;">
                            Saat berada di Singapura
                        </div>
                        <br> <strong>Lakukan protokol kesehatan berikut ini:</strong>
                        <br> - Selalu gunakan masker di area umum kecuali saat bersantap atau berolahraga.
                        <br> - Menjaga jarak setidaknya satu meter sepanjang waktu.
                        <br> - Bepergian dan interaksi dalam kelompok tidak boleh lebih dari 2 orang, berlaku mulai 27 September 2021.
                        <br> - Menuntaskan proses SafeEntry Anda melalui Aplikasi TraceTogether sebelum memasuki restoran, pusat belanja, dan pertokoan.
                        <br> - Pemeriksaan suhu tubuh dilakukan sebelum memasuki restoran, pusat belanja, dan pertokoan.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Thailand
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div style="color: steelblue; font-weight: 900; font-size: x-large;">
                            Sudah divaksinasi
                        </div>
                        <strong>Wisatawan yang sudah divaksinasi dapat tinggal di SHA+ Hotel di area Sandbox selama 7 hari dan harus menunjukkan dokumen berikut:</strong>
                        <br> - Thailand Pass
                        <br> - Sertifikat vaksin Covid-19
                        <br> - Reservasi SHA+ Hotel yang sudah terbayar selama 7 hari di area Sandbox
                        <br> - Polis asuransi kesehatan dalam bahasa Inggris yang mencakup biaya perawatan kesehatan dan pengobatan untuk Covid-19 tidak kurang dari $50,000 USD
                        <br> - Surat keterangan sehat dengan hasil laboratorium, dalam bahasa Inggris, yang menunjukkan bahwa Covid-19 tidak terdeteksi menggunakan tes RT-PCR
                        <br> - Reservasi penerbangan
                        <br> - Thai Visa
                        <br>
                        <br>
                        <div style="color: steelblue; font-weight: 900; font-size: x-large;">
                            Belum divaksinasi
                        </div>
                        <strong>Wisatawan yang belum divaksinasi dapat melakukan karantina di Alternative Quarantine (AQ) Hotel selama 10 hari dan harus menunjukkan dokumen berikut:</strong>
                        <br> - Thailand Pass
                        <br> - Reservasi Alternative Quarantine (AQ) Hotel yang sudah terbayar selama 10 hari
                        <br> - Polis asuransi kesehatan dalam bahasa Inggris yang mencakup biaya perawatan kesehatan dan pengobatan untuk Covid-19 tidak kurang dari $50,000 USD
                        <br> - Surat keterangan sehat dengan hasil laboratorium, dalam bahasa Inggris, yang menunjukkan bahwa Covid-19 tidak terdeteksi menggunakan tes RT-PCR
                        <br> - Reservasi penerbangan
                        <br> - Thai Visa
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock content %}