<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    {% block meta %} {% endblock meta %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler ms-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto my-2">
          <li class="nav-item">
            <a class="nav-link me-5 ms-3" href="/"
            >
              Beranda
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle me-5 ms-3"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Fitur
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="{% url 'StatCovid' %}"
                  >Info Statistik</a
                >
              </li>
              <li><a class="dropdown-item" href="/regulasi">Regulasi</a></li>
              <li><a class="dropdown-item" href="/get-swabbed">Get Swabbed!</a></li>
              <li><a class="dropdown-item" href="/hotel">Info Hotel Karantina</a></li>
              <li><a class="dropdown-item" href="/artikel">Artikel</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/support-page">Bantuan</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}

          <li class="nav-item dropdown me-4">
            <a
              class="nav-link dropdown-toggle me-5 ms-3"
              href="#"
              id="navbarDropdown2"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Halo, {{user.username}}!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <li><a class="dropdown-item" href="/logout">Keluar</a></li>
            </ul>
          </li>

          {% else %}

          <li class="nav-item dropdown me-4">
            <a
                    class="nav-link dropdown-toggle me-5 ms-3"
                    href="#"
                    id="navbarDropdown3"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
            >
              Masuk
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <li><a class="dropdown-item" href="/login">Masuk</a></li>
              <li><a class="dropdown-item" href="/signup">Registrasi</a></li>
            </ul>
          </li>

          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="mainbox container-fluid">
      {% block content %}

      {% endblock content %}
    </div>
    <div class="container mt-auto">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2021 CHRONOS, PBP-B07</p>

        <ul class="nav col-me-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Beranda</a></li>
          <li class="nav-item"><a href="/stat-covid" class="nav-link px-2 text-muted">Info Statistik</a></li>
          <li class="nav-item"><a href="/regulasi" class="nav-link px-2 text-muted">Regulasi</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Get Swabbed!</a></li>
          <li class="nav-item"><a href="/hotel" class="nav-link px-2 text-muted">Info Hotel Karantina</a></li>
          <li class="nav-item"><a href="/article" class="nav-link px-2 text-muted">Artikel</a></li>
          <li class="nav-link px-2 text-muted">|</li>
          <li class="nav-item"><a href="/support-page" class="nav-link px-2 text-muted">Bantuan</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
